<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanfz.dao.mapper.UserRoleMapper">

    <!--给用户赋予角色-->
    <insert id="insertUserRole">
        insert into user_role(id,user_id,role_id)
        values(#{id},#{userId},#{roleId})
    </insert>

    <!--根据账号id获取账号角色-->
    <select id="getRoleByUserId" resultType="String">
        select role.name
        from role
        inner join user_role
            on role.id=user_role.role_id
            and user_role.is_deleted=0
        where user_id=#{userId}
            and role.is_deleted=0
    </select>

</mapper>
